<!--Styling Starts-->
<style>

</style>
<!-- Styling Ends-->

<div style="text-align:center">
<h2>Search</h2>
 <h6>Search for stock names to see trades of a particular stock</h6>
</div>
<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search for stocks" aria-label="Search"
    aria-describedby="search-stocks" [(ngModel)]="searchText" autofocus (click) = "DidYouSearch($event)">
  <button type="button" class="btn btn-outline-primary" (click) = "myStockSearch()">Search</button>
</div>

<ul id="myUL" [hidden]='SearchBool'>
<li class ="stock-group" *ngFor="let c of characters | appFilter: searchText">
<a (click) = "myStockSearch()">{{c}}</a>
</li>
 <!-- <li><a href="#">AAPL</a></li>
  <li><a href="#">AMZN</a></li>

  <li><a href="#">SAIL</a></li>
  <li><a href="#">GAIL</a></li>

  <li><a href="#">GXRE</a></li>
  <li><a href="#">SMEP</a></li>
  <li><a href="#">REN</a></li> -->
</ul>
<br><br>
<div *ngIf="Traders.length !== 0">
  <div class="col-md-12">
    <table class="table table-bordered">
    <thead>
      <tr>
      <th scope="col">Trader Id</th>
      <th scope="col">Ticker</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
            <th scope="col">Buy or Sell</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trader of Traders">
      <td>{{trader.id}}</td>
      <td>{{trader.ticker}}</td>
      <td>{{trader.price}}</td>
            <td>{{trader.quantity}}</td>
            <td>{{trader.buyOrSell}}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>