<button (click)="returnPortfolio()">Show</button>
<br>
<div *ngIf="myPortfolio.length !== 0">

    <div class="col-md-12">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <!--<th scope="col">Portfolio Value</th>-->
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trader of myPortfolio">
                    <td>{{trader.ticker}}</td>
                    <td>{{-(trader.price/trader.quantity) | number:'1.0-0'}}</td> <!--Displays Price-->
                    <td>{{trader.quantity}}</td>
                    <!--<td>{{-trader.price | number:'1.0-0'}}</td> <!--Dispalys Portfolio value-->
                </tr>
            </tbody>
        </table>
    </div>
</div>
