<style></style>

<!-- Navbar starts -->
<div class="toolbar" role="banner">
  
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
      width="80"
      alt="Angular Logo"
      src="https://images-platform.99static.com/ZU1PAK19AJVJPEfWIgZXz0cVsyY=/1072x38:1998x964/500x500/top/smart/99designs-contests-attachments/119/119621/attachment_119621398
"
    />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">{{ title }}</a>
        <a class="nav-link" href="/searchbar">Search</a>
        <a class="nav-link" href="/watchlist">Watch List</a>
      </div>
    </div>
  </div>
</nav>
<!-- End of navbar -->
<!-- Generic Content -->
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
  <!-- WatchList -->
    <div class="col col-12 col-md-3 col-xl-2 bd-sidebar">
      <app-portfolio></app-portfolio>
    </div>
    <div class="col col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

    <router-outlet></router-outlet> <!-- -->
      <!--Add toggle for this to dissapear-->
    </div>
  </div>
  
  

  <!--View Bar Area-->
  <!---->

<!-- End Generic Content -->

