
<div style="text-align:center, margin: 150px">
<h2>Watchlist</h2>
 <h6>Search for stock names to see last closing price and whether you are adviced to hold/sell the stock</h6>
</div>
<div class="input-group2" style="margin: 100px">
    <input type ="text" name ="Ticker"  class="form-control rounded" placeholder="Search for stocks names" [(ngModel)]="Ticker" required>
    <button class="btn btn-outline-primary" (click)="getData()">Search</button>
</div>
 <div class="col-md-12">
    <table class="table table-bordered" style="margin: 150px, width=10px">
    <thead>
      <tr>
      <th scope="col">Ticker</th>
      <th scope="col">Closing Price</th>
      <th scope="col">Hold/Sell?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td>{{this.data["ticker"]}}</td>
      <td>{{this.data["lastClose"]}}</td>
      <td>{{this.data["advice"]}}</td>
      </tr>
    </tbody>
    </table>
  </div>