<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 20px;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
.center{
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  border: 3px solid #adadad;
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
label{
  padding: 5px;
}
</style>

<!-- Resources -->
<div class="col-md-12">
  <!--changed to inside the container-->
  <h2>Stonks Fin Tools</h2>
  <p>Welcome to Home Page</p>
<div class="center" style="margin:100px 250px">
  <h1 >Make Purchase</h1>
  <form>
  <!--Ticker-->
      <div class = "txt_field">
          <input type ="text" name ="Ticker" [(ngModel)]="traderDetails.ticker" required>
          <span></span>
          <label>Stock Ticker</label>
      </div>
      <!--Quantity-->
      <div class = "txt_field">
          <input type ="number" name ="Quantity"  [(ngModel)]="traderDetails.quantity" required>
          <span></span>
          <label>Quantity</label>
      </div>
      <!--Price-->
      <div class = "txt_field">
          <input type ="number" name ="Price" [(ngModel)]="traderDetails.price" required>
          <span></span>
          <label>Price</label>
      </div>
      <!--Decision-->
      <!--Error in null due to this input-->
      <div>
      <label for="success-outlined">Buy</label>
        <input type="radio" class="btn btn-outline-success" name="Decision" value = "Buy" [(ngModel)]="traderDetails.buyOrSell">
      <span></span>
      <label for="danger-outlined">Sell</label>
        <input type="radio" class="btn btn-outline-danger" name="Decision" value ="Sell" [(ngModel)]="traderDetails.buyOrSell"> 
      
      <span></span>
      </div>
    <!--Submit-->
      <div>

        <button class="btn btn-success btn-lg btn-block m-1" (click)="addTraders()">Submit</button>
        <button class="btn btn-success btn-lg btn-block m-1" (click)="onVerboseToggle($event)">{{ label() }}</button>
      </div>
  </form>
</div>


   <!-- Traders list table, it hides when there is no trader -->
<div *ngIf="Traders.length !== 0" [hidden]='verbose'>
  <div class="col-md-12">
    <table class="table table-bordered">
    <thead>
      <tr>
      <th scope="col">Trader Id</th>
      <th scope="col">Ticker</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
            <th scope="col">Buy or Sell</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trader of Traders">
      <td>{{trader.id}}</td>
      <td>{{trader.ticker}}</td>
      <td>{{trader.price}}</td>
            <td>{{trader.quantity}}</td>
            <td>{{trader.buyOrSell}}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
